@model IEnumerable<TOMJETClinete.tomjetcliente.Voo>

@{
    ViewBag.Title = "MostrarVoo";
}

<h2>MostrarVoo</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AeronaveVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrigemVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinoVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdAssentosVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrUnicoPassagemVoo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AeronaveVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrigemVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinoVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdAssentosVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrUnicoPassagemVoo)
        </td>
        <td>
            @Html.ActionLink("Comprar Passagem", "ComprarPassagem", new { id = item.IdVoo })
        </td>
    </tr>
}

</table>
